<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Sadece telefon desteği -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="false"
        android:xlargeScreens="false"
        android:requiresSmallestWidthDp="0"
        android:compatibleWidthLimitDp="480" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raptiye"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Raptiye"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Deeplink support for invitation notifications -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="taskflow" android:host="invitation" />
            </intent-filter>
        </activity>
        
        <!-- Invisible Activity for ACCEPT button (more reliable than BroadcastReceiver) -->
        <activity
            android:name=".notification.AcceptInvitationActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="false" />
        
        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".fcm.RaptiyeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <!-- Notification Action Receiver (ACCEPT/REJECT buttons) -->
        <receiver
            android:name=".notification.NotificationActionReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="tr.edu.bilimankara20307006.taskflow.ACCEPT_INVITATION" />
                <action android:name="tr.edu.bilimankara20307006.taskflow.REJECT_INVITATION" />
            </intent-filter>
        </receiver>
        
        <!-- FCM Default Icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        
        <!-- FCM Default Color -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/transparent" />
        
    </application>

</manifest>